@import url(/web/20251202203420cs_/https://ricardonarvaja.info/index_files/estilo.css);

/* Ocultamos el menú y hacemos que el cuerpo ocupe el 100% del ancho */
#menu {display: none;}
#cuerpo {margin: 0;}

#copy, #contacta {display: none;}
/*
     FILE ARCHIVED ON 20:34:20 Dec 02, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:10:54 Jul 30, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 1.381
  load_resource: 1947.262
  PetaboxLoader3.resolve: 464.356
  PetaboxLoader3.datanode: 1465.843 (2)
  loaddict: 381.515
*/